* {
    box-sizing: border-box;
}

footer {
    background-color: var(--primeryblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer img {
    width: 50%;
}

.social img {
    width: 10%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

footer a {
    color: white;
}

footer nav {
    display: flex;
    gap: 20px;
}

@media (min-width: 600px) {
    footer nav {
        gap: 100px;
    }

    .social {
        gap: 7%;
    }

    .social img {
        width: 7%;
        margin: 20px;
    }
}