* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 90%;
    padding-top: 1rem;
}

.nav-left ul, .nav-right ul {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

/* nav ul {
  list-style: none; 
  margin: 0;
  padding: 1.5rem;
  display: flex;
  gap: 2.5rem; 
} */

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: var(--font-main);
  font-weight: 500;
}

/* .nav-links {
  display: flex;
  flex-direction: row;
} */

@media (min-width: 600px) {
  header img {
    width: 30%;
    padding: 0;
    }

  header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  }

  nav ul {
  padding: 0;
  width: 30%;
  }

  .nav-links nav ul {
  padding: 0;
  gap: 3rem;
  }

  .nav-left {
    justify-content: flex-start;
  }

  .nav-right {
    justify-content: flex-end;
  }
}