* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 90%;
    padding-top: 1rem;
    display: flex;
}

nav ul {
  list-style: none; 
  margin: 0;
  padding: 0.5rem;
  display: flex;
  /* gap: 2.5rem;  */
  justify-content: space-between;
  width: 100vw;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: var(--font-main);
  font-weight: 500;
}

@media (min-width: 600px) {
  header img {
    height: 173px;
    width: auto;
    }

  header {
  flex-direction: column;
  align-items: center;
  }


  nav ul {
      justify-content: space-around;
  }

  nav a {
    font-size: 1.5rem;
  }

}